POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# user service
USER_DB_HOST=
USER_DB_PORT=
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_NAME=

USER_SERVICE_URL=http://user-service:3001

# auth service
AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=

AUTH_SERVICE_URL=http://authentication-service:3002

# authorization service
AUTHORIZATION_DB_HOST=
AUTHORIZATION_DB_PORT=
AUTHORIZATION_DB_USER=
AUTHORIZATION_DB_PASSWORD=
AUTHORIZATION_DB_NAME=

AUTHORIZATION_SERVICE_URL=http://authorization-service:3003

# department service
DEPARTMENT_DB_HOST=
DEPARTMENT_DB_PORT=
DEPARTMENT_DB_USER=
DEPARTMENT_DB_PASSWORD=
DEPARTMENT_DB_NAME=

DEPARTMENT_SERVICE_URL=http://department-service:3004

# employee service
EMPLOYEE_DB_HOST=
EMPLOYEE_DB_PORT=
EMPLOYEE_DB_USER=
EMPLOYEE_DB_PASSWORD=
EMPLOYEE_DB_NAME=

EMPLOYEE_SERVICE_URL=http://employee-service:3005

# customer service
CUSTOMER_DB_HOST=
CUSTOMER_DB_PORT=
CUSTOMER_DB_USER=
CUSTOMER_DB_PASSWORD=
CUSTOMER_DB_NAME=

CUSTOMER_SERVICE_URL=http://customer-service:3006

# category service
CATEGORY_DB_HOST=
CATEGORY_DB_PORT=
CATEGORY_DB_USER=
CATEGORY_DB_PASSWORD=
CATEGORY_DB_NAME=

CATEGORY_SERVICE_URL=http://category-service:3007

# supplier service
SUPPLIER_DB_HOST=
SUPPLIER_DB_PORT=
SUPPLIER_DB_USER=
SUPPLIER_DB_PASSWORD=
SUPPLIER_DB_NAME=

SUPPLIER_SERVICE_URL=http://supplier-service:3008

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
