POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

USER_DB_HOST=
USER_DB_PORT=
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_NAME=

AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=

USER_SERVICE_URL=http://user-service:3001
AUTH_SERVICE_URL=http://authentication-service:3002

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
