POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# user service
USER_DB_HOST=
USER_DB_PORT=
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_NAME=

USER_SERVICE_URL=http://user-service:3001

# auth service
AUTH_DB_HOST=
AUTH_DB_PORT=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=

AUTH_SERVICE_URL=http://authentication-service:3002

# authorization service
AUTHORIZATION_DB_HOST=
AUTHORIZATION_DB_PORT=
AUTHORIZATION_DB_USER=
AUTHORIZATION_DB_PASSWORD=
AUTHORIZATION_DB_NAME=

AUTHORIZATION_SERVICE_URL=http://authorization-service:3003

# department service
DEPARTMENT_DB_HOST=
DEPARTMENT_DB_PORT=
DEPARTMENT_DB_USER=
DEPARTMENT_DB_PASSWORD=
DEPARTMENT_DB_NAME=

DEPARTMENT_SERVICE_URL=http://department-service:3004

# employee service
EMPLOYEE_DB_HOST=
EMPLOYEE_DB_PORT=
EMPLOYEE_DB_USER=
EMPLOYEE_DB_PASSWORD=
EMPLOYEE_DB_NAME=

EMPLOYEE_SERVICE_URL=http://employee-service:3005

# customer service
CUSTOMER_DB_HOST=
CUSTOMER_DB_PORT=
CUSTOMER_DB_USER=
CUSTOMER_DB_PASSWORD=
CUSTOMER_DB_NAME=

CUSTOMER_SERVICE_URL=http://customer-service:3006

# category service
CATEGORY_DB_HOST=
CATEGORY_DB_PORT=
CATEGORY_DB_USER=
CATEGORY_DB_PASSWORD=
CATEGORY_DB_NAME=

CATEGORY_SERVICE_URL=http://category-service:3007

# supplier service
SUPPLIER_DB_HOST=
SUPPLIER_DB_PORT=
SUPPLIER_DB_USER=
SUPPLIER_DB_PASSWORD=
SUPPLIER_DB_NAME=

SUPPLIER_SERVICE_URL=http://supplier-service:3008

# cosmetic service
COSMETIC_DB_HOST=
COSMETIC_DB_PORT=
COSMETIC_DB_USER=
COSMETIC_DB_PASSWORD=
COSMETIC_DB_NAME=

COSMETIC_SERVICE_URL=http://cosmetic-service:3009

# inventory service
INVENTORY_DB_HOST=
INVENTORY_DB_PORT=
INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=
INVENTORY_DB_NAME=

INVENTORY_SERVICE_URL=http://inventory-service:3010

# purchase service
PURCHASE_DB_HOST=
PURCHASE_DB_PORT=
PURCHASE_DB_USER=
PURCHASE_DB_PASSWORD=
PURCHASE_DB_NAME=

PURCHASE_SERVICE_URL=http://purchase-service:3011

# order service
ORDER_DB_HOST=
ORDER_DB_PORT=
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_NAME=

ORDER_SERVICE_URL=http://order-service:3012

# invoice service
INVOICE_SERVICE_URL=http://invoice-service:3013

INVOICE_DB_HOST=
INVOICE_DB_PORT=
INVOICE_DB_USER=
INVOICE_DB_PASSWORD=
INVOICE_DB_NAME=

INVOICE_SERVICE_URL=http://invoice-service:3013

# basket
BASKET_DB_HOST=
BASKET_DB_PORT=
BASKET_DB_USER=
BASKET_DB_PASSWORD=
BASKET_DB_NAME=

BASKET_SERVICE_URL=

# rabbitmq
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

