@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;

  --color-brand-brown: #2C221E;
  --color-brand-warm: #8C6754;
  --color-brand-accent: #A47551;
  --color-brand-light-gray: #F9F9FB;
  --color-brand-border: #EBE7E4;
  --color-brand-muted: #736B66;
}
